/* $Id$ */

/* affichage général */

body {
	clear: both;
	margin: 0;
}

#frankiz {
	color: inherit;
	background: #DDDDDD;
	text-align : center;
	font-weight: bold;
	font-size: 300%;
	padding: 20px;
	border: 1px solid #888888;
	vertical-align: top;
}

#modules {
	width: 20%;
	float: left;
}

.module {
	width: 100%;
	border-left: 1px solid #888888;
	border-right: 1px solid #888888;
	border-bottom: 1px solid #888888;
}

.module>div {
	padding: 2px;
	font-size: 9pt;
}

.titre {
	color: inherit;
	background: #DDDDDD;
	text-align : center;
	border-bottom: 1px solid #888888;
}

#contenu {
	width: 78%;
	padding: 1%;
	float: right;
}

/* Annonces */
.annonce {
	border: 1px solid #888888;
}

.annonce>div {
	padding: 4px;
}

.signature {
	text-align: right;
}

/* Qdj */
.fkz_qdj_jone {
	float: right;
	text-align: center;
	width: 49%;
}

.fkz_qdj_rouje {
	float: left;
	text-align: center;
	width: 49%;
}

/* État des serveurs */
.serveur_up {
	color: inherit;
	background: lime;
}

.serveur_down {
	color: inherit;
	background: red;
}

