<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AllowNetworkAccess</key>
	<true/>
	<key>CFBundleDisplayName</key>
	<string>MacBite</string>
	<key>CFBundleIdentifier</key>
	<string>fr.polytechnique.eleves.macbite</string>
	<key>CFBundleShortVersionString</key>
	<string>0.1</string>
	<key>CFBundleVersion</key>
	<string>1.0</string>
	<key>CloseBoxInsetX</key>
	<integer>16</integer>
	<key>CloseBoxInsetY</key>
	<integer>14</integer>
	<key>MainHTML</key>
	<string>macbite.html</string>
</dict>
</plist>
