
/* ###################### GENERAL #################### */

* 
{
	margin: 0px;
	padding: 0px;
}

img {
	border:0;
}

body
{
	background-color:#fff;
	text-align: center ;
	font: 0.8em "Trebuchet MS", helvetica, sans-serif ;
}

.center {
	text-align:center;
}


a:link {
	color:#999;
}
a:visited {
	color:#aaa;
}
a:hover {
	background-color:#999;
	color:#eee;
}


/* ################### POSITIONNEMENT ################# */

div#conteneur
{
	width: 100% ;
	margin: 0;
	text-align: left;
	background: #fff;
}

div#header
{
	height: 120px ;
	background: #eeeeee;
	border-bottom: 3px double black;
}


div#gauche {
	float:left;
	width:150px;
	position: relative;
}

div#centre
{
	margin: 0 215px 0 155px;
}

div#droite
{
	float:right;
	width:200px;
	position: relative;
}

div#footer
{
	clear:both;
	width:100%;
	height:37px;
	background: #eee;
	border-top: 3px double black;
}

/* ############################## TITRE #################### */

div#header h1,h2
{
	display: inline;
	color: black;
}

div#header  h1 a
{
	position:relative;
	color: black;
	background: white;
	text-decoration:none;
	font-size: 40px;
	left: 20px;
	top: 20px;
	padding: 12px;
	border: 1px dashed black;
}

div#header h2 span {
	position:relative;
	border: 1px solid black;
	background: white;
	font-size: 20px;
	left: -100px;
	top: 50px;
	padding: 3px;
	width: 300px;
	z-index:20;
}

div#header h3 a span
{
	display: none ;
}

/* #################### FOOTER ################ */

div#footer span#bas_gauche, div#footer span#bas_droit
{
}

div#footer h5 
{
	height:20px;
	margin: 0 auto;
	text-align:center;
}

div#footer h5 a
{
	position:relative;
	top:10px;
	color: black;
	background: white;
	text-decoration:none;
	font-size: 10px;
	padding: 5px;
	border: 1px dashed black;
}

/* ############# BOITE MODULE CENTRE ############### */


dl.boite {
	width: 100%; 
	margin:30px 0;
}

dl.boite dt.titre {
	height: 25px;
}
dl.boite dt.titre span {
	border: 1px dashed black;
	padding:5px;
	background-color:#eee;
	line-height: 25px;
	font-size: 1.4em;
	color: black;
}

dl.boite dd.contenu {
	margin:10px 5px 10px 15px;
	border-left:1px solid black;
	padding: 0 10px; 
}

dl.boite dd.bas span.droitebas,span.droitehaut {
	display:none;
}
dl.boite span.hidenews {
	float:right;
	width:25px;
	height:25px;
	position:relative;
	top:0px;
}

dl.boite span.hidenews a {
	display:block;
	background-color:#aaa;
	width:15px;
	height:15px;
	margin:auto;
	position:relative;
	top:5px;
}

dl.boite  span.hidenews a span {
	display:none;
}

/* ############# BOITE MODULE GAUCHE ################*/

dl.cadrecote {
	margin:40px 0 0 5px ;
	width:120px;
}

dl.cadrecote p.titre {
	background-color:#eee;
	text-align:center;
	font-weight:bold;
	line-height: 16px ;
	font-size: 1.2em ;
	color: black ;
	position:relative;
	top:-4px;
}

dl.cadrecote dd.milieu {
	border-left:1px solid black;
	padding:2px 9px 2px 9px;
}

span.tour_kawa {
	padding-left:20px;
}

/* ################## PARAGRAPHE ################# */

p {
	text-align: justify ;
}

p.news
{
	text-indent: 2em ;
	line-height: 1.7em ;
}
p.news:first-letter{
	font-size:1.3em;
	font-weight:bold;
}

p.small
{
	text-indent: 0.7em ;
	line-height: 1.2em;
	font-size:0.9em;
}

p.image {
	text-align:center;
}

p.signature {
	float:right;
	display:inline;
	background-color:#eee;
	text-align:right;
	font-weight:bold;
	border:solid 1px black;
	padding:2px;
}

p.warning,p.commentaire,p.note {
	width:75%;
	margin:0 auto;
	text-align:center;
}

p.warning {
	padding:5px;
	color:white;
	background-color : #aaa;
	border:solid 2px #999;
	font-weight:bold;
}
p.commentaire {
	padding:5px;
	border:solid 2px #ddd;
	background-color : #eee;
}

p.note {
	padding:5px;
	border:solid 2px #ddd;
	background-color : #ccc;
}

/* ################ MISE EN FORME DES LISTES (DL) ############## */

/* ------- alternance jaune/rouge ------- */

.pair {
	background-color : #ddd;
}
.impair {
	background-color : #ccc;
}
.top {
	background-color : #aaa;
	color:white;
	font-weight:bold;
}


/* ------- Vocabulaire ------- */

dl.definition {
	
	margin:0px 30px 3px 30px;
}
dt.objet {
	float:left;
	font-weight:bold;
	letter-spacing:2px;
}
dd.definition {
	margin-left:150px;
	padding-left:5px;
}

/* ------- Trombino ------- */
dl#formulaireTOL p.image span.titre {
	background:#eee;
	color:#333;
	font-size:30pt;
	font-weight:bold;
	padding:5px;
}
dl#formulaireTOL p.image span.imagetitre {
	display:none;
}

dl.trombino {
	margin:0px 30px 20px 30px;
	min-height:150px;
	height:auto !important;
	height:150px;
}
dt.nom {
	background-color : #eef;
	text-align:center;
	font-weight:bold;
	font-size:1.3em;
}
dd.photo{
	float:left;
}
dd.sport{
	float:right;
}

dd.element p strong {
	float:left;
	width:50px;
}

dd.element p.left {
	margin-left:10px;
}
dd.element p.right {
	float:right;
	text-align:right;
	padding-right:5px;
}
dd.element p.binets{
	text-align:justify;
	margin: 5px 100px 0 100px;
	padding:0 5px;
}
form.cadretol input{
	width:85px;
	margin:0 auto;
}
form.trombino { 
	padding:20px 0px;
}
form.trombino div{
	text-align:center;
	padding:7px;
}
form.trombino div table {
	width:60%;
	border: dashed 1px silver;
	margin:0 auto;
}

form.trombino input {
	width:100px;
}

form.trombino select {
	width:100px;
}

form p.gauche{
	float:left;
	width:33%;
}
form p.droite{
	float:right;
	width:33%;
}
form p.centre{
	margin:0px 33%;
	width:33%;
}
form p.bouton {
	margin-top:20px;
	width:100%;
	text-align:center;
}

/* ------- Meteo ------- */

dl.meteo {
	margin:0px 30px 10px 30px;
}
dt.quand {
	text-align:left;
	font-size:1.3em;
	line-height:1.5em;
}
dd.prevision {
	padding-left:20px;
}

dd.prevision span {
	float: left;
	width:135px;
	
}

/* ----------- Binets ------------*/


dl.binets {
	margin:0px 30px 3px 30px;
}
dt.icon {
	float:left;
	font-weight:bold;
	letter-spacing:2px;
}
dd.description {
	margin-left:120px;
	padding-left:5px;
	height:101px;
}

dd.categorie {
	padding:6px;
	text-align:center;
	font-weight:bold;
}
dd.lien {
	margin-left:120px;
	padding-left:5px;
}

/* --------- qdj --------------- */


dl#qdj table.qdj {
	width:95%;
}

dl#qdj table.qdj td {
	text-align:center;
	height:100px;
	width:50%;
}

dl#qdj table.qdj td a{
	font-weight:bold;
}

dl#qdj table.qdj td span{
	display:block;
	height:45px;
	width:30%;
	margin:0 auto;
}

dl#qdj table.qdj td span.rouje {
	background-color:#ddd ;
}

dl#qdj table.qdj td span.jone {
	background-color:#eee;
}

table.reponse_qdj {
	width:95%;
}
table.reponse_qdj td {
	text-align:center;
	width:50%;
}
table.reponse_qdj td div.col {
	height:50px;
}
table.reponse_qdj td div.col span {
	display:block;
	height:50px;
	width:30%;
	margin:0 auto;
}
table.reponse_qdj td div.col span.jone {
	background-color:#ddd ;
}
table.reponse_qdj td div.col span.rouje {
	background-color:#eee;
}

/* -------- Sommaires page d'annonce ----------*/
dl#annonces_sommaire table.sommaire {
	margin:0 auto;
	width:95%;
}

dl#annonces_sommaire tr td{
	width:48%;
	height:18px;
	padding:1px 5px;
}
dl#annonces_sommaire td.gauche{
	text-align:right;
}
dl#annonces_sommaire td.droite{
	text-align:left;
}

/* ################# MENU/LISTE ####################*/

ul#liens_navigation, ul#ecole, ul#contacts,ul.none, ul#services, ul#serveurs,ul{
	list-style-type: none ;
}


/* ------- Le menu de gauche ---------*/

dl#liens_navigation {
	width: 135px; 
	margin: 30px 0 0 10px;
	background-color:#ddd;
	border:solid 1px black;
}

dl#liens_navigation dt.titre {
	height:30px;
}

dl#liens_navigation dt.titre span {
	background-color:#eee;
	border:1px solid black;
	padding:5px;
	font-weight:bold;
	position:relative;
	left:6px;
	top:-10px;
}

dl#liens_navigation dd.contenu {
	margin:0px;
	padding:0;
}

ul#menu li {
	margin:0;
	padding:0;
}
ul#menu li a {
	display:block;
	width: 100% ;
	height:20px;
	text-decoration:none;
	text-align:center;
	color:black;
}

ul#menu li a:hover {
	color:white;
	background-color:#aaa;
}

ul#menu li a span {
	font-weight:bold;
}


/* ################## FORMULAIRE ################ */

form {
	padding:7px;
}

textarea {
	width:80%;
	height:10em;
}

fieldset {
	border:0;
}
/* -- formulaire simple (trombi,skin,etc...) -- */

.formulaire {
}

.formulaire span.droite{
	float:right;
	width:78%;
	text-align: left;
}

.formulaire label.gauche{
	float:left;
	width:20%;
	padding-left:5px;
}
.formulaire div{
	clear:both;
}

.formulaire p.boutons{

	padding-left: 22%;
	padding-top:10px;
	margin:0 auto;
}


/* -- formulaires plus chiants, basés sur les listes (gestion par tableau) -- */
table.liste {
	margin:0 auto;
}

table.liste thead {
	background-color : #ccc;
}

table.liste thead tr.titre td {
	font-weight:bold;
	font-size:1.7em;
	text-align:center;
}

table.liste thead td {
	font-weight:bold;
	font-size:1.2em;
}

tr.pair {
	background-color : #eee;
}

tr.impair {
	background-color : #ddd;
}

td.boutons {
	text-align:center;
	background-color : #ccc;
}
/* ################### DIVERS #################*/

/*--------- FAQ et Xshare ---------*/
li.noeud_ferme
{
	list-style-image:url('images/fold_close.gif');
	margin-left:40px;
}
li.noeud_ouvert
{
	list-style-image:url('images/fold_open.gif');
	margin-left:40px;
}
ul.feuille
{
	list-style-image:url('images/question.gif');
}

ul.feuille li {
	margin-left:40px;
}

/* ---------- HR -----------*/

div.hr {
	width:20%;
	margin:0 auto;
	text-align:center;
}
div.hr hr {
	display:none;
}
dl.boite h3, dl.boite h2 {
	margin-bottom:5px;
	display:block;
}
