
/* ###################### GENERAL #################### */

* 
{
	margin: 0px;
	padding: 0px;
}

img {
	border:0;
}

body
{
	background-color:#fff;
	text-align: center ;
	font: 0.8em "Trebuchet MS", helvetica, sans-serif ;
}


/* ################### POSITIONNEMENT ################# */

div#conteneur
{
	width: 100% ;
	margin: 0;
	text-align: left;
	background: #fff;
}

div#header
{
	height: 120px ;
	background: #eeeeee;
	border-bottom: 3px double black;
}


div#gauche {
	float:left;
	width:150px;
	position: relative;
}

div#centre
{
	margin: 0 215px 0 155px;
}

div#droite
{
	float:right;
	width:200px;
	position: relative;
}

div#footer
{
	clear:both;
	width:100%;
	height:37px;
	background: #eee;
	border-top: 3px double black;
}

/* ############################## TITRE #################### */

div#header h1,h2
{
	display: inline;
	color: black;
}

div#header  h1 a
{
	position:relative;
	color: black;
	background: white;
	text-decoration:none;
	font-size: 40px;
	left: 20px;
	top: 20px;
	padding: 12px;
	border: 1px dashed black;
}

div#header h2 span {
	position:relative;
	border: 1px solid black;
	background: white;
	font-size: 20px;
	left: -100px;
	top: 50px;
	padding: 3px;
	width: 300px;
	z-index:20;
}

div#header h3 a span
{
	display: none ;
}

/* #################### FOOTER ################ */

div#footer span#bas_gauche, div#footer span#bas_droit
{
}

div#footer h5 
{
	height:20px;
	margin: 0 auto;
	text-align:center;
}

div#footer h5 a
{
	position:relative;
	top:10px;
	color: black;
	background: white;
	text-decoration:none;
	font-size: 10px;
	padding: 5px;
	border: 1px dashed black;
}

/* ############# BOITE MODULE CENTRE ############### */


dl.boite {
	width: 100%; 
	margin:30px 0;
}

dl.boite dt.titre {
	height: 25px;
}
dl.boite dt.titre span {
	border: 1px dashed black;
	padding:5px;
	background-color:#eee;
	line-height: 25px;
	font-size: 1.4em;
	color: black;
}

dl.boite dd.contenu {
	margin:10px 5px 10px 15px;
	border-left:1px solid black;
	padding: 0 10px; 
}

dl.boite dd.bas span.droitebas,span.droitehaut {
	display:none;
}

/* ############# BOITE MODULE GAUCHE ################*/

dl.cadrecote {
	margin:40px 0 0 5px ;
	width:120px;
}

dl.cadrecote p.titre {
	background-color:#eee;
	text-align:center;
	font-weight:bold;
	line-height: 16px ;
	font-size: 1.2em ;
	color: black ;
	position:relative;
	top:-4px;
}

dl.cadrecote dd.milieu {
	border-left:1px solid black;
	padding:2px 9px 2px 9px;
}

span.tour_kawa {
	padding-left:20px;
}

/* ################## PARAGRAPHE ################# */

p {
	text-align: justify ;
}

p.news
{
	text-indent: 2em ;
	line-height: 1.7em ;
}
p.news:first-letter{
	font-size:1.3em;
	font-weight:bold;
}

p.small
{
	text-indent: 0.7em ;
	line-height: 1.2em;
	font-size:0.9em;
}

p.image {
	text-align:center;
}

p.signature {
	float:right;
	display:inline;
	background-color:#eee;
	text-align:right;
	font-weight:bold;
	border:solid 1px black;
	padding:2px;
}

p.warning,p.commentaire,p.note {
	width:75%;
	margin:0 auto;
	text-align:center;
}

p.warning {
	padding:5px;
	color:white;
	background-color : #aaa;
	border:solid 2px #999;
	font-weight:bold;
}
p.commentaire {
	padding:5px;
	border:solid 2px #ddd;
	background-color : #eee;
}

p.note {
	padding:5px;
	border:solid 2px #ddd;
	background-color : #ccc;
}

/* ################ MISE EN FORME DES LISTES (DL) ############## */

/* ------- alternance jaune/rouge ------- */

.pair {
	background-color : #ddd;
}
.impair {
	background-color : #ccc;
}
.top {
	background-color : #aaa;
	color:white;
	font-weight:bold;
}


/* ------- Vocabulaire ------- */

dl.definition {
	
	margin:0px 30px 3px 30px;
}
dt.objet {
	float:left;
	font-weight:bold;
	letter-spacing:2px;
}
dd.definition {
	margin-left:150px;
	padding-left:5px;
}

/* ------- Trombino ------- */

dl.trombino {
	margin:0px 10px 20px 10px;
	min-height:150px;
	height:auto !important;
	height:150px;
}
dt.nom {
	text-align:center;
	font-size:1.3em;
}
dd.photo{
	float:left;
}
dd.sport{
	float:right;
}

dd.element p strong {
	float:left;
	width:50px;
}

dd.element p.left {
	margin-left:10px;
}
dd.element p.right {
	float:right;
	text-align:right;
	padding-right:5px;
}
dd.element p.binets{
	text-align:justify;
	margin: 5px 100px 0 100px;
	padding:0 10px;
}

form.trombino { 
	padding:20px 0px;
}

form.trombino div{
	border: dashed 1px silver;
	width:75%;
	margin:0px auto;
	padding:7px;
}
form p.gauche{
	float:left;
	width:33%;
}
form p.droite{
	float:right;
	width:33%;
}
form p.centre{
	margin:0px 33%;
	width:33%;
}
form p.bouton {
	clear:both;
	width:100%;
	text-align:center;
}

/* ------- Meteo ------- */

dl.meteo {
	margin:0px 30px 10px 30px;
}
dt.quand {
	text-align:left;
	font-size:1.3em;
	line-height:1.5em;
}
dd.prevision {
	padding-left:20px;
}

dd.prevision span {
	float: left;
	width:135px;
	
}

/* ----------- Binets ------------*/


dl.binets {
	margin:0px 30px 3px 30px;
}
dt.icon {
	float:left;
	font-weight:bold;
	letter-spacing:2px;
}
dd.description {
	margin-left:120px;
	padding-left:5px;
	height:101px;
}

dd.categorie {
	padding:6px;
	text-align:center;
	font-weight:bold;
}
dd.lien {
	margin-left:120px;
	padding-left:5px;
}


/* ################# MENU/LISTE ####################*/

ul#menu, ul#ecole, ul#contacts,ul.none, ul#services, ul#serveurs,ul{
	list-style-type: none ;
}


/* ------- Le menu de gauche ---------*/

dl#menu {
	width: 135px; 
	margin: 30px 0 0 10px;
	background-color:#ddd;
	border:solid 1px black;
}

dl#menu dt.titre {
	height:30px;
}

dl#menu dt.titre span {
	background-color:#eee;
	border:1px solid black;
	padding:5px;
	font-weight:bold;
	position:relative;
	left:6px;
	top:-10px;
}

dl#menu dd.contenu {
	margin:0px;
	padding:0;
}

ul#menu li {
	margin:0;
	padding:0;
}
ul#menu li a {
	display:block;
	width: 100% ;
	height:20px;
	text-decoration:none;
	text-align:center;
	color:black;
}

ul#menu li a:hover {
	color:white;
	background-color:#aaa;
}

ul#menu li a span {
	font-weight:bold;
}

/* ###############" BARRE DE NAVIGATION "######################*/

ul#barre_nav
{
	list-style: none;
	position:absolute;
	top:0px;
	left:0px;
}

#barre_nav ul
{ 
	list-style: none;
	width:12em;
	z-index:99;
	position:relative;
	overflow:visible;  
}

#barre_nav li
{   
	position: relative; 
	float:left;
	width: 12em;
	background-color:#DFDFDF;
	border:solid 1px #CECECE;
	border-bottom:none;
	display:block;
	height:auto;
}
 
#barre_nav a 
{
	text-decoration:none; 
	display:block;
	padding: 0.1em;  
	margin:0.2em 0 0.2em 0.1em; 
	background-color:#DFDFDF;
	width:11.5em; 
	height:1em;
}

#barre_nav a:hover
{
	background-color:#0099CC; 
	color:#FFFFFF;
	background-image:none;
}

#barre_nav ul
{
	display:none;   
}


#barre_nav ul ul, #barre_nav ul ul ul
{
	display:none; 
	position:absolute; 
	margin-top:-1.8em; 
	margin-left:12em;
}


#barre_nav ul li>ul, #barre_nav ul ul li>ul{
	margin-top:-1.4em; 
}

#barre_nav li:hover ul ul, #barre_nav li:hover ul ul ul
{
	display:none; 
}

#barre_nav li:hover ul, #barre_nav ul li:hover ul, #barre_nav ul ul li:hover ul
{
	display:block;
}



/* ################## FORMULAIRE ################ */

form {
	padding:7px;
}

/* -- formulaire simple (trombi,skin,etc...) -- */
dl.formulaire {
	background-color : #eee;	
}

dt.entete {
	background-color : #ccc;
	text-align:center;
	font-weight:bold;
	font-size:1.3em;
}

dd.row {
	padding:5px 0px 10px 0px;
}

dd.row span.gauche {
	float:left;
	width:200px;
}
dd.row span.droite {
}

dd.pair {
	background-color : #eee;
}
dd.impair {
	background-color : #ddd;
}

dd.boutons {
	text-align:center;
	background-color : #eee;
}

form div {
	width:100%;
}

form div div.label {
	width:190px;
}

form div.element {
	width:70%;
	margin-left:200px;
	margin-top:-1em;
}

form div.element img{
	margin-top:1em;	
}

/* -- formulaires plus chiants, basés sur les listes (gestion par tableau) -- */

table.liste thead {
	background-color : #ccc;
}

table.liste thead tr.titre td {
	font-weight:bold;
	font-size:1.7em;
	text-align:center;
}

table.liste thead td {
	font-weight:bold;
	font-size:1.2em;
}

tr.pair {
	background-color : #eee;
}

tr.impair {
	background-color : #ddd;
}

td.boutons {
	text-align:center;
	background-color : #ccc;
}

/* ################### DIVERS #################*/

/*--------- FAQ et Xshare ---------*/
li.noeud_ferme
{
	list-style-image:url('images/fold_close.gif');
	margin-left:40px;
}
li.noeud_ouvert
{
	list-style-image:url('images/fold_open.gif');
	margin-left:40px;
}
ul.feuille
{
	list-style-image:url('images/question.gif');
}

ul.feuille li {
	margin-left:40px;
}

/* ---------- HR -----------*/

div.hr {
	width:20%;
	margin:0 auto;
	text-align:center;
}
div.hr hr {
	display:none;
}
