BODY {
	PADDING-RIGHT: 2px; PADDING-LEFT: 2px; FONT-SIZE: 80%; PADDING-BOTTOM: 2px; MARGIN-RIGHT: 3px; MARGIN-LEFT: 3px; COLOR: #000; PADDING-TOP: 2px; BACKGROUND-COLOR: #000; 
background-color: #000a64;
   font-family: "Comic Sans MS",serif;	
}
IMG {
	BORDER-RIGHT: 0px; BORDER-TOP: 0px; BORDER-LEFT: 0px; BORDER-BOTTOM: 0px
}
A:link {
	COLOR: #000; FONT-STYLE: normal; FONT-WEIGHT: normal; TEXT-DECORATION: none
}
A:visited {
	COLOR: #606060; FONT-STYLE: normal; FONT-WEIGHT: normal; TEXT-DECORATION: none
}
A:hover {
	COLOR: #FF9933; FONT-WEIGHT: normal; TEXT-DECORATION: none
}
A:active {
	COLOR: #FF9933; FONT-WEIGHT: normal; TEXT-DECORATION: none
}
#rss .fkz_titre A:link {
	COLOR: #000; FONT-STYLE: normal; FONT-WEIGHT: normal; TEXT-DECORATION: none
}
#rss .fkz_titre A:visited {
	COLOR: #606060; FONT-STYLE: normal; FONT-WEIGHT: normal; TEXT-DECORATION: none
}
#rss .fkz_titre A:hover {
	COLOR: #FF9933; FONT-WEIGHT: normal; TEXT-DECORATION: none
}
#rss .fkz_titre A:active {
	COLOR: #FF9933; FONT-WEIGHT: bold; TEXT-DECORATION: none
}
.fkz_page {
	CLEAR: both; WIDTH: 100%
}
.fkz_entetes {
	
}
.fkz_gauche {
	MARGIN-TOP: 20px; FONT-SIZE: 9pt; MIN-HEIGHT: 800px; FLOAT: left; WIDTH: 20%
}
.fkz_droite {
	MARGIN-TOP: 20px; FONT-SIZE: 9pt; MIN-HEIGHT: 800px; FLOAT: right; WIDTH: 20%
}
.fkz_centre {
	MARGIN-TOP: 20px; FONT-SIZE: 9pt; LEFT: 21%; WIDTH: 58%; POSITION: absolute
}
DIV.fkz_end_page {
	CLEAR: both; MARGIN: 3px
}
DIV.fkz_logo {
margin-top : 10px;margin-bottom:10px;
	margin-left: 100px;
	BACKGROUND-POSITION: left 50%; BACKGROUND-IMAGE: url(images/hp.png); BACKGROUND-REPEAT: no-repeat; HEIGHT: 150px
}
SPAN.fkz_logo {
	DISPLAY: none
}
SPAN.fkz_logo_eleves {
	DISPLAY: none
}
.fkz_qdj_question {
	FONT-SIZE: 10pt; FONT-WEIGHT: normal; WIDTH: 100%; TEXT-ALIGN: center; PADDING-BOTTOM: 15px
}
DIV.fkz_qdj_jone {
	WIDTH: 50%; TEXT-ALIGN: center
}
DIV.fkz_qdj_rouje {
	WIDTH: 50%; TEXT-ALIGN: center
}
DIV.fkz_qdj_jone_reponse {
	WIDTH: 50%; TEXT-ALIGN: center
}
DIV.fkz_qdj_rouje_reponse {
	WIDTH: 50%; TEXT-ALIGN: center
}
.fkz_qdj_jone {
	FLOAT: right
}
.fkz_qdj_rouje {
	FLOAT: left
}
.fkz_qdj_jone A {
	FLOAT: right; FONT-WEIGHT: normal; BACKGROUND-COLOR: #ffff80; COLOR: #000; WIDTH: 100%
}
.fkz_qdj_jone A:hover {
	FONT-WEIGHT: normal; BACKGROUND-COLOR: #ffdd00; COLOR: #000
}
.fkz_qdj_jone A:active {
	FONT-WEIGHT: normal; BACKGROUND-COLOR: #ffdd00; COLOR: #000
}
.fkz_qdj_rouje A {
	FLOAT: left; FONT-WEIGHT: normal; BACKGROUND-COLOR: #ff8080; COLOR: #000; WIDTH: 100%
}
.fkz_qdj_rouje A:hover {
	FONT-WEIGHT: normal; BACKGROUND-COLOR: red; COLOR: #000
}
.fkz_qdj_rouje A:active {
	FONT-WEIGHT: normal; BACKGROUND-COLOR: red; COLOR: #000
}
.fkz_qdj_jone_reponse {
	FONT-WEIGHT: normal; FLOAT: right; BACKGROUND-COLOR: #ffff80; COLOR: #606060; WIDTH: 80%
}
.fkz_qdj_rouje_reponse {
	FONT-WEIGHT: normal; FLOAT: left; BACKGROUND-COLOR: #ff8080; COLOR: #606060; WIDTH: 80%
}
.fkz_qdj_last {
	LIST-STYLE-TYPE: none; TEXT-ALIGN: left
}
.fkz_anniversaire_titre {
	BORDER-RIGHT: #5a59ad 2px solid; BORDER-TOP: #5a59ad 2px solid; BORDER-LEFT: #5a59ad 2px solid; BORDER-BOTTOM: #5a59ad 2px solid
}
.fkz_titre {
	BORDER-RIGHT: #5a59ad 2px solid; BORDER-TOP: #5a59ad 2px solid; BORDER-LEFT: #5a59ad 2px solid; BORDER-BOTTOM: #5a59ad 2px solid
}
.fkz_sommaire {
	BORDER-RIGHT: #5a59ad 2px solid; BORDER-TOP: #5a59ad 2px solid; BORDER-LEFT: #5a59ad 2px solid; BORDER-BOTTOM: #5a59ad 2px solid
}
.fkz_trombino {
	BORDER-RIGHT: #5a59ad 2px solid; BORDER-TOP: #5a59ad 2px solid; BORDER-LEFT: #5a59ad 2px solid; BORDER-BOTTOM: #5a59ad 2px solid
}
.fkz_liens {
	COLOR: #000; LIST-STYLE-TYPE: none; POSITION: relative; LEFT: -10px
}
.fkz_contact {
	COLOR: #000; LIST-STYLE-TYPE: none; POSITION: relative; LEFT: -10px
}
.fkz_stats {
	COLOR: #000; LIST-STYLE-TYPE: none; POSITION: relative; LEFT: -10px
}
.fkz_liens_nav {
	COLOR: #000; LIST-STYLE-TYPE: none; POSITION: relative; LEFT: -10px
}
DIV.fkz_annonces_titre {
	PADDING-RIGHT: 2%; PADDING-LEFT: 2%; Z-INDEX: 20; PADDING-BOTTOM: 15px; COLOR: #000; PADDING-TOP: 2px; FONT-FAMILY: "Comic sans MS",serif; FONT-SIZE: 11pt; PADDING-BOTTOM: 2px; BACKGROUND-COLOR: #5a59ad; TEXT-ALIGN: center; BORDER: #5a59ad 2px solid; WIDTH: 95.7% !important; WIDTH: 100%
}
DIV.fkz_page_titre {
	PADDING-RIGHT: 2%; PADDING-LEFT: 2%; Z-INDEX: 20; PADDING-BOTTOM: 10px; COLOR: #000; PADDING-TOP: 2px; FONT-FAMILY: "Comic sans MS",serif; FONT-SIZE: 11pt; TEXT-TRANSFORM: uppercase; PADDING-BOTTOM: 2px; POSITION: relative; BACKGROUND-COLOR: #5a59ad; TEXT-ALIGN: center; BORDER: #5a59ad 2px solid; WIDTH: 95.7% !important; WIDTH: 100%;
}
.fkz_annonces_corps {
	BORDER: #5a59ad 2px solid; PADDING-RIGHT: 2%; PADDING-TOP: 15px; PADDING-LEFT: 2%; POSITION: relative; BACKGROUND-COLOR: #ffd2aa; WIDTH: 95.7% !important; WIDTH: 100%; MARGIN-BOTTOM: 40px;
}
.fkz_annonces_corps .image {
	TEXT-ALIGN: center
}
DIV.fkz_page_corps {
	BORDER: #5a59ad 2px solid; PADDING-RIGHT: 2%; PADDING-TOP: 20px; PADDING-LEFT: 2%; POSITION: relative; BACKGROUND-COLOR: #ffd2aa; MARGIN-BOTTOM: 40px; PADDING-BOTTOM: 20px; WIDTH: 95.7% !important; WIDTH: 100%; MARGIN-BOTTOM: 40px;
}
DIV.fkz_anniversaire_titre {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 10pt; FONT-FAMILY: "Comic sans MS",serif; PADDING-BOTTOM: 0px; MARGIN: 0px; COLOR: #000; PADDING-TOP: 0px; HEIGHT: 20px; BACKGROUND-COLOR: #5a59ad; TEXT-ALIGN: center; PADDING-LEFT: 2%; PADDING-RIGHT: 2%; WIDTH: 95.7% !important; WIDTH: 100%
}
.fkz_titre {
	PADDING-RIGHT: 2%; PADDING-LEFT: 2%; PADDING-BOTTOM: 0px; COLOR: #000; PADDING-TOP: 0px; HEIGHT: 20px; BACKGROUND-COLOR: #5a59ad; TEXT-ALIGN: center; FONT-FAMILY: "Comic sans MS",serif; FONT-SIZE: 10pt; WIDTH: 92% !important; WIDTH: 98%
}
.fkz_titre A {
	FONT-WEIGHT: normal; FONT-STYLE: normal; COLOR: #000
}
.fkz_titre A:hover {
	FONT-WEIGHT: normal; FONT-STYLE: normal; COLOR: #000
}
.fkz_titre A:active {
	FONT-WEIGHT: normal; FONT-STYLE: normal; COLOR: #000
}
.fkz_anniversaire {
	BORDER-RIGHT: #5a59ad 2px solid; PADDING-RIGHT: 2%; BORDER-TOP: #5a59ad 2px solid; PADDING-LEFT: 2%; MARGIN-BOTTOM: 40px; PADDING-BOTTOM: 10px; BORDER-LEFT: #5a59ad 2px solid; COLOR: #333; PADDING-TOP: 10px; BORDER-BOTTOM: #5a59ad 2px solid; BACKGROUND-COLOR: #ffd2aa; WIDTH: 95.7% !important; WIDTH: 100%
}
.fkz_module_corps {
	BORDER-RIGHT: #5a59ad 2px solid; PADDING-RIGHT: 2%; BORDER-TOP: #5a59ad 2px solid; PADDING-LEFT: 2%; MARGIN-BOTTOM: 20px; PADDING-BOTTOM: 15px; BORDER-LEFT: #5a59ad 2px solid; COLOR: #333; PADDING-TOP: 15px; BORDER-BOTTOM: #5a59ad 2px solid; BACKGROUND-COLOR: #ffd2aa; WIDTH: 92% !important; WIDTH: 98%
}
DIV.fkz_liens_nav {
	BORDER-RIGHT: #5a59ad 2px solid; PADDING-RIGHT: 2px; BORDER-TOP: #5a59ad 2px solid; PADDING-LEFT: 2px; MARGIN-BOTTOM: 20px; PADDING-BOTTOM: 2px; BORDER-LEFT: #5a59ad 2px solid; COLOR: #333; PADDING-TOP: 2px; BORDER-BOTTOM: #5a59ad 2px solid; BACKGROUND-COLOR: #ffd2aa
}
.fkz_sommaire_corps {
	FONT-SIZE: 9pt; WIDTH: 96%; BACKGROUND-COLOR: #ffd2aa; TEXT-ALIGN: left; PADDING-LEFT: 2%; PADDING-RIGHT: 2%; PADDING-BOTTOM: 10px
}
.fkz_sommaire_titre {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-WEIGHT: normal; FONT-SIZE: 10pt; FONT-FAMILY: "Comic sans MS",serif; PADDING-BOTTOM: 6px; WIDTH: 100%; BACKGROUND-COLOR: #5a59ad; TEXT-ALIGN: center; BORDER-BOTTOM: #ffd2aa 10px solid;
}
.fkz_trombino {
	BORDER-RIGHT: #5a59ad 2px solid; BORDER-TOP: #5a59ad 2px solid; FONT-SIZE: 9pt; BORDER-LEFT: #5a59ad 2px solid; BORDER-BOTTOM: #5a59ad 2px solid; BACKGROUND-COLOR: #ffd2aa; TEXT-ALIGN: center; MARGIN-BOTTOM: 40px; PADDING-RIGHT: 2%; PADDING-LEFT: 2%; WIDTH: 95.7% !important; WIDTH: 100%;
}
.fkz_sommaire {
	BORDER-RIGHT: #5a59ad 2px solid; BORDER-TOP: #5a59ad 2px solid; FONT-SIZE: 9pt; BORDER-LEFT: #5a59ad 2px solid; BORDER-BOTTOM: #5a59ad 2px solid; BACKGROUND-COLOR: #ffd2aa; TEXT-ALIGN: left; MARGIN-BOTTOM: 40px
}
.fkz_trombino_eleve {
	BORDER-RIGHT: #5a59ad 2px solid; BORDER-TOP: #5a59ad 2px solid; BORDER-LEFT: #5a59ad 2px solid; BORDER-BOTTOM: #5a59ad 2px solid; BACKGROUND-COLOR: #dddddd;  MARGIN-LEFT: 2%; MARGIN-RIGHT: 2%; TEXT-ALIGN: left; MARGIN-TOP: 1%
}
.nom {
	TEXT-ALIGN: center
}
.fkz_trombino_photo {
	FLOAT: left; MARGIN-LEFT: 5px
}
.fkz_trombino_section {
	FLOAT: right; MARGIN-RIGHT: 5px
}
.fkz_trombino_infos {
	FLOAT: left; MARGIN-LEFT: 5px
}
.fkz_trombino_infos2 {
	FLOAT: right; MARGIN-RIGHT: 5px
}
.binets {
	CLEAR: both
}
.fkz_signature {
	FONT-WEIGHT: bold; TEXT-ALIGN: right
}
FORM.trombino {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 20px; PADDING-TOP: 20px
}
FORM.trombino DIV {
	PADDING-RIGHT: 7px; PADDING-LEFT: 7px; PADDING-BOTTOM: 7px; PADDING-TOP: 7px
}
FORM.trombino TABLE {
	FONT-SIZE: 9pt; TEXT-ALIGN: right
}
FORM.trombino INPUT {
	WIDTH: 150px
}
FORM.trombino SELECT {
	WIDTH: 150px
}
SPAN.fkz_annonces_vieux {
	PADDING-LEFT: 25px; BACKGROUND-REPEAT: no-repeat; HEIGHT: 25px
}
SPAN.fkz_annonces_nouveau {
	PADDING-LEFT: 25px; BACKGROUND-REPEAT: no-repeat; HEIGHT: 25px
}
SPAN.fkz_annonces_important {
	PADDING-LEFT: 25px; BACKGROUND-REPEAT: no-repeat; HEIGHT: 25px
}
SPAN.fkz_annonces_reste {
	PADDING-LEFT: 25px; BACKGROUND-REPEAT: no-repeat; HEIGHT: 25px
}
SPAN.fkz_annonces_vieux {
	BACKGROUND-IMAGE: url(images/demainfini.gif)
}
SPAN.fkz_annonces_nouveau {
	BACKGROUND-IMAGE: url(images/nllefraiche.gif)
}
SPAN.fkz_annonces_important {
	BACKGROUND-IMAGE: url(images/important.gif)
}
SPAN.fkz_annonces_reste {
	BACKGROUND-IMAGE: url(images/enattendant.gif)
}
SPAN.fkz_annonces_cat {
	DISPLAY: none
}
SPAN.valid_xhtml {
	DISPLAY: block; WIDTH: 88px; POSITION: relative; HEIGHT: 31px
}
SPAN.valid_css {
	DISPLAY: block; WIDTH: 88px; POSITION: relative; HEIGHT: 31px
}
SPAN.valid_xhtml {
	LEFT: 5px; BACKGROUND-IMAGE: url(http://www.w3.org/Icons/valid-xhtml10)
}
SPAN.valid_css {
	LEFT: 98px; BACKGROUND-IMAGE: url(http://www.w3.org/Icons/valid-css); TOP: -31px
}
.fkz_stats {
	LIST-STYLE-TYPE: none
}
.serveur_nom {
	LEFT: 5px; POSITION: relative
}
.serveur_up {
	BACKGROUND: lime
}
.serveur_down {
	BACKGROUND: red
}
.noeud_ferme {
	LIST-STYLE-IMAGE: url(images/repferme.gif)
}
.noeud_ouvert {
	LIST-STYLE-IMAGE: url(images/repouvert.gif)
}
.feuille {
	LIST-STYLE-IMAGE: url(images/text.gif)
}
.commentaire {
	PADDING-RIGHT: 1%; DISPLAY: block; PADDING-LEFT: 1%; PADDING-BOTTOM: 6px; MARGIN-TOP: 10px; MARGIN-BOTTOM: 10px; PADDING-TOP: 6px
}
.warning {
	PADDING-RIGHT: 1%; DISPLAY: block; PADDING-LEFT: 1%; PADDING-BOTTOM: 6px; MARGIN-TOP: 10px; MARGIN-BOTTOM: 10px; PADDING-TOP: 6px
}
.note {
	PADDING-RIGHT: 1%; DISPLAY: block; PADDING-LEFT: 1%; PADDING-BOTTOM: 6px; MARGIN-TOP: 10px; MARGIN-BOTTOM: 10px; PADDING-TOP: 6px
}
.commentaire {
	BORDER-RIGHT: #5a59ad 1px solid; BORDER-TOP: #5a59ad 1px solid; BORDER-LEFT: #5a59ad 1px solid; BORDER-BOTTOM: #5a59ad 1px solid
}
.warning {
	BORDER-RIGHT: #5a59ad 1px solid; BORDER-TOP: #5a59ad 1px solid; BORDER-LEFT: #5a59ad 1px solid; BORDER-BOTTOM: #5a59ad 1px solid
}
.note {
	BORDER-RIGHT: #5a59ad 1px solid; BORDER-TOP: #5a59ad 1px solid; BORDER-LEFT: #5a59ad 1px solid; BORDER-BOTTOM: #5a59ad 1px solid
}
DIV.formulaire {
	DISPLAY: block; WIDTH: 100%; TEXT-ALIGN: center
}
DIV.formulaire LABEL.gauche {
	FLOAT: left; WIDTH: 38% !important; WIDTH: 40%; TEXT-ALIGN: right; MARGIN-TOP: 10px; FONT-WEIGHT: bold; DISPLAY: table-cell; PADDING-RIGHT: 2%; PADDING-TOP: 8px
}
DIV.formulaire SPAN.droite {
	FLOAT: right; WIDTH: 60%; TEXT-ALIGN: left; MARGIN-TOP: 10px; DISPLAY: table-cell;PADDING-TOP: 5px
}
DIV.formulaire SPAN.droite SPAN.note {
	POSITION: relative !important; POSITION: static; LEFT: -66.67% !important; LEFT: 0px; BACKGROUND-COLOR: #ffd2aa; WIDTH: 164.2% !important; WIDTH: 166.67%; MARGIN-TOP: 30px
}
DIV.formulaire DIV {
	CLEAR: both
}
.fkz_module_corps DIV.formulaire SPAN.droite {
	DISPLAY: block
}
.fkz_module_corps DIV.formulaire SPAN.gauche {
	DISPLAY: block
}
DIV.formulaire SPAN.boutons {
	DISPLAY: block; PADDING-BOTTOM: 20px; PADDING-TOP: 10px; TEXT-ALIGN: center
}
TABLE.liste {
	CLEAR: both; MARGIN-TOP: 5px; WIDTH: 100%; BORDER: #5a59ad 1px solid; BACKGROUND-COLOR: #5a59ad; BORDER-BOTTOM: none; BORDER-COLLAPSE: collapse
}
TABLE.liste .entete {
	FONT-FAMILY: Arial Black; FONT-SIZE: 9pt; PADDING-BOTTOM: 5px; PADDING-TOP: 5px; PADDING-LEFT: 5px
}
TABLE.liste .element {
	FONT-SIZE: 9pt; PADDING-BOTTOM: 5px; PADDING-TOP: 5px; FONT-WEIGHT: bold; BORDER-BOTTOM: #5a59ad 1px solid; BACKGROUND-COLOR: #ffd2aa; PADDING-LEFT: 5px
}
TABLE.liste .boutons {
	POSITION: relative; TOP: -1px; PADDING-BOTTOM: 10px; PADDING-TOP: 10px; TEXT-ALIGN: center
}
#choix_skin H1 {
	DISPLAY: none
}
#profil H1 {
	DISPLAY: none
}
.fkz_page_meteo H1 {
	DISPLAY: none
}
#xshare H1 {
	DISPLAY: none
}
#faq H1 {
	DISPLAY: none
}
#vocabulaire H1 {
	DISPLAY: none
}
SPAN.meteo {
	DISPLAY: block; TEXT-ALIGN: center
}
DIV.meteo {
	BORDER-TOP: #5a59ad 2px solid; DISPLAY: block
}
P.image {
	TEXT-ALIGN: center
}
