/* XSL : default   |   CSS : default
/* ###################### GENERAL #################### */

* 
{
	margin: 0px;
	padding: 0px;
}

img {
	border:0;
}

body
{
	background-color:#fff;
	text-align: center ;
	font: 0.8em "Trebuchet MS", helvetica, sans-serif ;
}


/* ################### POSITIONNEMENT ################# */

div#conteneur
{
	margin: 30px 10px 10px 13px ;
	text-align: left ;
}

div#header
{
	height: 96px ;
	background: url('./images/Bar_haut_2.png') repeat-x left top ;
	overflow:hidden;
}

div#contenu {
	position:absolute;
	top:121px;
	left:13px;
	width:97%;
	background: #fff ;
	background: url('./images/Bar_cote.png') repeat-y left top ;
}

div#gauche {
	float:left;
	width:125px;
}

div#centre
{
	margin: 0 215px 0 135px;
}

div#droite
{
	float:right;
	width:200px;
	position: relative;
}

div#footer
{
	clear:both;
/*	position:absolute; 
	bottom:0; */
	width:100%;
	height:37px;
	background: url('./images/Bar_bas_milieu.png') repeat-x left top ;
}

/* ############################## TITRE #################### */

div#header  h1 a
{
	width: 666px;
	height: 96px ;
	display: block ;
	background: url('./images/Bar_haut_1.png') no-repeat left top ;
}

div#header h1 a span
{
	display: none ;
}

div#header h2 span
{
	display: none ;
}

div#header h3 
{
	position:absolute;
	top:30px !important;
	top:0px; 
	z-index:20;
	right:10px !important;
	right:0px;
}

div#header h3 a
{
	width: 69px ;
	height: 96px ;
	display: block ;
	background: url('./images/Bar_haut_3.png') no-repeat top left ;
}

div#header h3 a span
{
	display: none ;
}

/* #################### FOOTER ################ */

div#footer span#bas_gauche
{	
	float:left;
	width:117px;
	height:37px;
	background: url('./images/Bar_bas_gauche.png') no-repeat left bottom ;
}

div#footer span#bas_droit
{	
	display:block;
	float:right;
	margin-right:-3px;
	height:37px;	
	width:19px;
	background: url('./images/Bar_bas_droit.png') no-repeat top right ;
}

div#footer h5 
{
	margin: 0 auto;
	width:80% !important;
	width:90%;
	text-align:center;
	background: url('./images/bottom_arrow_top.gif') no-repeat top center;
}

div#footer h5 a
{
	display:block;
	margin: 0 auto;
	width:60px;
	height:37px;
}

div#footer h5 a span
{
	display:none;
}

/* ############# BOITE MODULE CENTRE ############### */


dl.boite {
	width: 98%; 
	margin:0 0 30px 10px;
}

dl.boite dt.titre {
	height: 25px;
	background: #fff url('./images/cadre-haut.gif') top left no-repeat;
	text-align: center;
}
dl.boite dt.titre span {
	background-color:#fff;
	line-height: 25px ;
	font-size: 1.4em ;
	color: #FFA200 ;
	position:relative;
	top:-3px;
}

dl.boite dd.contenu {
	border: solid #B0AFCF;
	border-width: 0 1px;
	padding: 0 10px; 
}

dl.boite dd.bas {
	height: 9px;
	background: #fff url('./images/cadre-bas.gif') top left no-repeat;
	border: 0 none;
	padding:0;
}


dl.boite dd.bas span.droitebas {
	float: right;
	width:9px;
	height:9px;
	background: url('./images/cadre-basd.gif') no-repeat top left;
	position:relative;
	top:0em;
}

dl.boite dt.titre span.droitehaut {
	float: right;
	width:15px;
	height:25px;
	background: url('./images/cadre-hautd.gif') no-repeat bottom right;
	position:relative;
	top:0em;
}
dl.boite span.hidenews {
	float:right;
	width:15px;
	height:25px;
	position:relative;
	top:0px;
}

dl.boite span.hidenews a {
	display:block;
	background: url(images/hidenews.png) no-repeat bottom right;
	width:15px;
	height:15px;
	position:relative;
	top:13px;
}

dl.boite  span.hidenews a span {
	display:none;
}

/* ############# BOITE MODULE GAUCHE ################*/

div#gauche dl.boite {
	margin: 20px 0 0 0 ;
	width:120px;
}

div#gauche dl.boite dt.titre {
	line-height:6px;
	height: 6px;
	background: url('./images/Bar_cote_cadre_haut.png') bottom left no-repeat;
	text-align: center;
}
div#gauche dl.boite dt.titre span {
	background-color:transparent;
	text-align:center;
	font-weight:bold;
	line-height: 16px;
	font-size: 1.2em;
	color: #FFA200 ;
	position:relative;
	top:5px !important;
	top:15px;
}
div#gauche dl.boite dd.contenu {
	padding:18px 9px 2px 9px;
	background: url('./images/Bar_cote_cadre_milieu.png') top left repeat-y;
	text-align:center;
	border:none;
}
div#gauche dl.boite dd.bas {
	height: 6px;
	background: url('./images/Bar_cote_cadre_bas.png') top left no-repeat;
	border: 0 none; 
}
div#gauche dl.boite dd.bas span.droitebas {
	display:none;
}
div#gauche dl.boite dt.titre span.droitehaut {
	display:none;
}

span.tour_kawa {
	padding-left:20px;
}

dl#activites div.activite p.image img {
	width:90px;
}

/* ################## PARAGRAPHE ################# */

p {
	text-align: justify ;
}

p.news {
	text-indent: 2em ;
	padding-bottom:10px;
}
p.news:first-letter {
	font-size:1.3em;
	font-weight:bold;
}

p.small
{
	text-indent: 0.7em ;
	line-height: 1.2em;
	font-size:0.9em;
}

p.image {
	text-align:center;
}

p.signature {
	text-align:right;
	font-weight:bold;
}

p.warning {
	color:red;
	font-weight:bold;
	padding:5px;
/* 	border:solid 2px #faa; 
	background-color : #fee; */
}
p.commentaire {
	color:green;
	padding:5px;
/*	border:solid 2px #ff3;
	background-color : #ffe; */
}

p.note {
	color:blue;
	font-style:italic;
	padding:5px;
/*	border:solid 2px #aaf;
	background-color : #eef; */
}

/* ################ MISE EN FORME DES LISTES (DL) ############## */

/* ------- alternance jaune/rouge ------- */

dl.pair {
	background-color : #fee;
}
dl.impair {
	background-color : #ffd;
}
dl.top {
	background-color : #eef;
}


/* ------- Vocabulaire ------- */

dl.definition {
	
	margin:0px 30px 3px 30px;
}
dt.objet {
	float:left;
	font-weight:bold;
	letter-spacing:2px;
}
dd.definition {
	margin-left:150px;
	padding-left:5px;
}

/* ------- Trombino ------- */

dl#formulaireTOL p.image span.titre {
	display:none;
}
dl#formulaireTOL p.image span.imagetitre {
	display:block;
	width:300px;
	height:69px;
	background:url(../images/trombino.gif) no-repeat top left;
	margin:0 auto;
}

dl.trombino {
	margin:0px 30px 20px 30px;
	min-height:150px;
	height:auto !important;
	height:150px;
}
dt.nom {
	background-color : #eef;
	text-align:center;
	font-weight:bold;
	font-size:1.3em;
}
dd.photo{
	float:left;
}
dd.sport{
	float:right;
}

dd.element p strong {
	float:left;
	width:50px;
}

dd.element p.left {
	margin-left:10px;
}
dd.element p.right {
	float:right;
	text-align:right;
	padding-right:5px;
}
dd.element p.binets{
	text-align:justify;
	margin: 5px 100px 0 100px;
	padding:0 5px;
}
form.cadretol input{
	width:85px;
	margin:0 auto;
}
form.trombino { 
	padding:20px 0px;
}
form.trombino div{
	text-align:center;
	padding:7px;
}
form.trombino div table {
	width:60%;
	border: dashed 1px silver;
	margin:0 auto;
}

form.trombino input {
	width:100px;
}

form.trombino select {
	width:100px;
}

form p.gauche{
	float:left;
	width:33%;
}
form p.droite{
	float:right;
	width:33%;
}
form p.centre{
	margin:0px 33%;
	width:33%;
}
form p.bouton {
	margin-top:20px;
	width:100%;
	text-align:center;
}

/* ------- Meteo ------- */

dl.meteo {
	margin:0px 30px 10px 30px;
}
dt.quand {
	background-color : #eef;
	text-align:left;
	font-weight:bold;
	font-size:1.3em;
	line-height:1.5em;
}
dd.prevision {
	padding-left:20px;
}
dd.prevision span {
	float: left;
	width:135px;
	
}

/* ----------- Binets ------------*/

dl.binets {
	margin:0px 30px 3px 30px;
}
dt.icon {
	float:left;
	font-weight:bold;
	letter-spacing:2px;
}
dd.description {
	margin-left:120px;
	padding-left:5px;
	height:101px;
}

dd.categorie {
	padding:6px;
	text-align:center;
	font-weight:bold;
}
dd.lien {
	margin-left:120px;
	padding-left:5px;
}

/* -----------QDJ---------------*/

dl#qdj table.qdj {
	width:95%;
}

dl#qdj table.qdj td {
	text-align:center;
	height:100px;
	width:50%;
}

dl#qdj table.qdj td a{
	font-weight:bold;
}

dl#qdj table.qdj td span{
	display:block;
	height:45px;
	width:100%;
}

dl#qdj table.qdj td span.rouje {
	background:url(images/pointrouje.gif) no-repeat top center;
}

dl#qdj table.qdj td span.jone {
	background:url(images/pointjone.gif) no-repeat top center;
}



table.reponse_qdj {
	width:95%;
}
table.reponse_qdj td {
	text-align:center;
	width:50%;
}
table.reponse_qdj td div.col {
	height:50px;
}
table.reponse_qdj td div.col span {
	display:block;
	height:50px;
}
table.reponse_qdj td div.col span.jone {
	background:url(images/jaune.gif) repeat-y top center;
}
table.reponse_qdj td div.col span.rouje {
	background:url(images/rouge.gif) repeat-y top center;
}
/*--------- Etat des serveur-----------*/

dl#stats ul.serveurs {
	width:95%;
	margin:0 auto;
}

dl#stats ul.serveurs li.nom {
	display:inline;
	background-color:#fff;
	font-weight:normal;
	font-size:13px;
}
dl#stats ul.serveurs li.serveur_up {
	display:inline;
	background-color:green;
	text-align:right;
}
dl#stats ul.serveurs li.serveur_down {
	display:inline;
	background-color:red;
	text-align:right;
}

/* ---------- Xshare et FAQ --------- */

div#recherchearbre {
	position:absolute;
	top:200px;
	right:250px;
	background-color:white;
	width:200px;
}

/* -------- Sommaires page d'annonce ----------*/
dl#annonces_sommaire table.sommaire {
	margin:0 auto;
	width:95%;
}

dl#annonces_sommaire tr td{
	width:48%;
	height:18px;
	padding:1px 5px;
}
dl#annonces_sommaire td.gauche{
	text-align:right;
}
dl#annonces_sommaire td.droite{
	text-align:left;
}
/* ################# MENU/LISTE ####################*/

ul#menu, ul#ecole, ul.contacts,ul.none, ul#services, ul#serveurs,ul{
	list-style-type: none ;
}

/* ------- Le menu de gauche ---------*/

dl#liens_navigation {
	width: 115px; 
	margin: 0;
}
dl#liens_navigation dt.titre {
	height: 13px !important;
	margin-bottom:0px !important;
	margin-bottom:4px;
	background: url('./images/top.png') no-repeat bottom left;
}
dl#liens_navigation dt.titre span {
	display:none;
}
dl#liens_navigation dd.contenu {
	margin:0px;
	padding:0px;
}
dl#liens_navigation dd.bas {
	height: 10px !important;
	margin-top:0px !important;
	margin-top:-4px;
	background: url('./images/bottom.png') no-repeat top left;
}
dl#liens_navigation dd.bas span.droitebas {
	display:none;
}
dl#liens_navigation dt.titre span.droitehaut {
	display:none;
}
ul#menu li {
	margin:0;
	padding:0;
	margin-top:0px !important;
	margin-top:-4px;
}
ul#menu li a {
	display:block;
	width: 115px ;
	height:32px;
}
ul#menu li a span {
	display:none;
}

/*  different elements du menu avec le RollOver  */

ul#menu li#annonces a 
{
	background: url('./images/annonces.png') no-repeat 0 -32px ;
}
ul#menu li#annonces a:hover
{
	background: url('./images/annonces.png') no-repeat 0 0 ;
}
ul#menu li#activites a 
{
	background: url('./images/activites.png') no-repeat 0 -32px ;
}
ul#menu li#activites a:hover
{
	background: url('./images/activites.png') no-repeat 0 0 ;
}
ul#menu li#meteo a 
{
	background: url('./images/meteo.png') no-repeat 0 -32px ;
}
ul#menu li#meteo a:hover
{
	background: url('./images/meteo.png') no-repeat 0 0 ;
}

ul#menu li#doc a
{
	background: url('./images/doc.png') no-repeat 0 -32px ;
}
ul#menu li#doc a:hover
{
	background: url('./images/doc.png') no-repeat 0 0 ;
}

ul#menu li#faq a
{
	background: url('./images/faq.png') no-repeat 0 -32px ;
}
ul#menu li#faq a:hover
{
	background: url('./images/faq.png') no-repeat 0 0 ;
}

ul#menu li#xshare a 
{
	background: url('./images/xshare.png') no-repeat 0 -32px ;
}
ul#menu li#xshare a:hover
{
	background: url('./images/xshare.png') no-repeat 0 0 ;
}

ul#menu li#profil_rezal a 
{
	background: url('./images/profil_rezal.png') no-repeat 0 -32px ;
}
ul#menu li#profil_rezal a:hover
{
	background: url('./images/profil_rezal.png') no-repeat 0 0 ;
}

ul#menu li#infobr a
{
	background: url('./images/infobr.png') no-repeat 0 -32px ;
}
ul#menu li#infobr a:hover
{
	background: url('./images/infobr.png') no-repeat 0 0 ;
}

ul#menu li#admin a
{
	background: url('./images/admin.png') no-repeat 0 -32px ;
}
ul#menu li#admin a:hover
{
	background: url('./images/admin.png') no-repeat 0 0 ;
}

ul#menu li#profil a
{
	background: url('./images/profil.png') no-repeat 0 -32px ;
}
ul#menu li#profil a:hover
{
	background: url('./images/profil.png') no-repeat 0 0 ;
}

ul#menu li#connect a
{
	background: url('./images/connect.png') no-repeat 0 -32px ;
}
ul#menu li#connect a:hover
{
	background: url('./images/connect.png') no-repeat 0 0 ;
}

ul#menu li#deconnect a
{
	background: url('./images/deconnect.png') no-repeat 0 -32px ;
}
ul#menu li#deconnect a:hover
{
	background: url('./images/deconnect.png') no-repeat 0 0 ;
}

ul#menu li#binets a
{
	background: url('./images/binets.png') no-repeat 0 -32px ;
}
ul#menu li#binets a:hover
{
	background: url('./images/binets.png') no-repeat 0 0 ;
}
ul#menu li#vocab a
{
	background: url('./images/vocab.png') no-repeat 0 -32px ;
}
ul#menu li#vocab a:hover
{
	background: url('./images/vocab.png') no-repeat 0 0 ;
}
ul#menu li#trombino a
{
	background: url('./images/trombino.png') no-repeat 0 -32px ;
}
ul#menu li#trombino a:hover
{
	background: url('./images/trombino.png') no-repeat 0 0 ;
}
ul#menu li#skins a
{
	background: url('./images/skins.png') no-repeat 0 -32px ;
}
ul#menu li#skins a:hover
{
	background: url('./images/skins.png') no-repeat 0 0 ;
}
ul#menu li#siteseleves a
{
	background: url('./images/siteseleves.png') no-repeat 0 -32px ;
}
ul#menu li#siteseleves a:hover
{
	background: url('./images/siteseleves.png') no-repeat 0 0 ;
}


/* ################## FORMULAIRE ################ */

form {
	width:98%;
	padding:7px;
}

textarea {
	width:80%;
	height:10em;
}

fieldset {
	border:0;
}
/* -- formulaire simple (trombi,skin,etc...) -- */

.formulaire span.objet{
	display:block;
	margin-left:10%;
}
.formulaire p.titre{
	text-decoration:underline;
}

.formulaire p.boutons{

	padding-left: 22%;
	padding-top:10px;
	margin:0 auto;
}


/* -- formulaires plus chiants, basés sur les listes (gestion par tableau) -- */
table.liste {
	margin:0 auto;
}

table.liste thead {
	background-color : #ccc;
}

table.liste thead tr.titre td {
	font-weight:bold;
	font-size:1.7em;
	text-align:center;
}

table.liste thead td {
	font-weight:bold;
	font-size:1.2em;
}

tr.pair {
	background-color : #eee;
}

tr.impair {
	background-color : #ddd;
}

td.boutons {
	text-align:center;
	background-color : #ccc;
}

/* ################### DIVERS #################*/

/*--------- FAQ et Xshare ---------*/
li.noeud_ferme
{
	list-style-image:url('../images/fold_close.gif');
	margin-left:40px;
}
li.noeud_ouvert
{
	list-style-image:url('../images/fold_open.gif');
	margin-left:40px;
}
ul.feuille
{
	list-style-image:url('../images/question.gif');
}

ul.feuille li {
	margin-left:40px;
}

li.feuille {
	border:1px dashed grey;
	margin:10px;
	padding:5px;
}

/* ---------- HR -----------*/

div.hr {
	width:20%;
	margin:0 auto;
	text-align:center;
}
div.hr hr {
	display:none;
}

dl.boite h3, dl.boite h2 {
	margin-bottom:5px;
	display:block;
}

.center {
	text-align:center;
}
.clear {
	clear:left;
}
.float_right {
	float:right;
}

