#minimodule_birthday .study>div{position:relative;}
#minimodule_birthday .study .promo{position:absolute;top:7px;left:0;font-weight:bold;text-shadow:-1px 0 #000000,0 1px #000000,1px 0 #000000,0 -1px #000000;}#minimodule_birthday .study .promo.rouje{color:red;}
#minimodule_birthday .study .promo.jone{color:yellow;}
