#minimodule_quicksearch .body{text-align:center;}#minimodule_quicksearch .body div{display:inline-block;}
#minimodule_quicksearch .body input[type=text]{margin-bottom:4px;max-width:150px;width:auto;}
