/* $Id$ */

/* paramètres par défaut */
table {
	width: 100%;
	border: 0;
}

/* affichage général */
#frankiz {
	color: inherit;
	background: #DDDDDD;
	text-align : center;
	font-weight: bold;
	font-size: 300%;
	padding: 20px;
	border-top: 1px solid #888888;
	border-right: 1px solid #888888;
	border-left: 1px solid #888888;
	vertical-align: top;
}

#contenu {
	border-top: 1px solid #888888;
	width: 80%;
	padding: 5px;
	vertical-align: top;
}

#cadres {
	width: 20%;
	border-top: 1px solid #888888;
	vertical-align: top;
}

#cadres th.cadre {
	color: inherit;
	background: #DDDDDD;
	padding: 2px;
	text-align : center;
	border-bottom: 1px solid #888888;
	border-right: 1px solid #888888;
	border-left: 1px solid #888888;
}

#cadres td.cadre {
	border-bottom: 1px solid #888888;
	padding: 2px;
	border-right: 1px solid #888888;
	border-left: 1px solid #888888;
}

/* Annonces */

table.annonce {
	border: 1px solid #888888;
	width: 95%;
}

th.annonce {
	color: inherit;
	background: #DDDDDD;
	padding: 2px;
	text-align : center;
	border-bottom: 1px solid #888888;
}

td.annonce {
	padding: 4px;
}

.signature {
	text-align: right;
}

/* État des serveurs */
.serveur_up {
	color: inherit;
	background: lime;
}

.serveur_down {
	color: inherit;
	background: red;
}

/* Formulaires */
table.formulaire {
	border: 1px solid #888888;
}

table.formulaire td {
	padding: 2px;
}

table.formulaire td.gauche {
	width: 20%;
}

table.formulaire td.droite {
	width: 80%;
}

table.formulaire td.titre {
	color: inherit;
	background: #DDDDDD;
	text-align: center;
	font-weight: bold;
	border-bottom: 1px solid #888888;
}

table.formulaire td.boutons {
	color: inherit;
	background: #DDDDDD;
	border-top: 1px solid #888888;
}

p.commentaire {
	color: inherit;
	background: #FFFFDD;
	padding: 6px;
	border: 1px solid #FFDD00;
}

/* Balises HTML */
H1 {
	text-align: center;
	font-size: 200%;
}

H2 {
	font-size: 150%;
}

/*
	Autres classes définie mais sans style particulier :
	- .image, pour les image créer avec la balise <image>
	- .legende, pour les légendes des images
	- .lien, pour les liens créer avec la balise <lien>
*/